<!DOCTYPE html>
<html>
  <head>
    <title>NewsAppChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



    <%= yield %>
     <%= link_to 'Articles', articles_path if logged_in?(:editor, :user, :site_admin, :guest_user) %>
     <%= login_helper %> 

  </body>
</html>
